/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #f3efe0;
  background-color: #222222;
}

/* Header styles */
header {
  background-color: #434242;
  padding: 20px;
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3efe0;
}

.nav-tabs {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #222222;
  padding: 5px 10px;
}

.nav-link.active,
.nav-link:hover {
  background-color: #22a39f;
  color: #f3efe0;
}

.dropdown-menu {
  background-color: #434242;
}

.dropdown-item {
  color: #f3efe0;
}

.dropdown-item:hover {
  background-color: #22a39f;
}

.dropdown-divider {
  border-top: 1px solid #f3efe0;
}

/* Main content styles */
.container {
  color: #f3efe0;
  background-color: #434242;
  padding: 20px;
}

.col {
  border: 1px solid #f3efe0;
  margin: 10px;
  padding: 20px;
}

.order-first {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-last {
  order: 3;
}

/* Footer styles */
footer {
  background-color: #f3efe0;
  padding: 20px;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-item {
    margin: 10px 0;
  }
}

.containerRev {
  color: #434242;
  background-color: #f3efe0;
  padding: 20px;
  border: 3px solid black;
}
